<%include partials/_header%>
  <div class="container">
    <h1 class="special_elite">Detalles de implementación</h1>
    <div class="container">
      <h3 class="special_elite">Desarrolladora</h2>
      <p>Sofía Campos Cerdas</p>
      <h3 class="special_elite">Curso</h2>
      <p>Base de Datos Avanzadas</p>
    </div>
  </div>
<%include partials/_footer%>
